* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    margin: auto;
    background-color: #444;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-items: center;
    background-color: #444;
    width: 80vw;
    height: 100vh;
}

.button {
    display: none;
}

.sliderWindow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    min-height: 40rem;
    margin: auto;
    background-color: #222;
    border-radius: 0.7rem;
}

.sliderTop {
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height: 32rem;
    overflow: hidden;
    border-radius: 0.7rem;
}

.sliderImages {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 400%;
    height: 32rem;
    

}

.imageBack {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 26rem;
    transition: 1.5s;
    padding: 1% 0%;
    border-radius: 0.5rem;
}

.imageBack img {
    display: flex;
    max-width: 100%;
    height: auto;
    margin: auto 1%;
}

.sliderBottom {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-top: 1rem;
}

.controls {
    display: flex;
    width: 40%;
    gap: 0.05rem;
    justify-content: flex-end;
}

.controlLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
}

.controlLabelButton {
    background-color: #000;
    border: 0.15em solid black;
    border-radius: 50%;
    width: 50%;
    height: 50%;
}

.button:nth-child(1):checked ~ .sliderWindow .sliderBottom .controls label:nth-child(1) .controlLabelButton {
    background-color: #D3D3D3;
    border: 0.2em solid black;
}

.button:nth-child(2):checked ~ .sliderWindow .sliderBottom .controls label:nth-child(2) .controlLabelButton {
    background-color: #D3D3D3;
    border: 0.2em solid black;
}

.button:nth-child(3):checked ~ .sliderWindow .sliderBottom .controls label:nth-child(3) .controlLabelButton {
    background-color: #D3D3D3;
    border: 0.2em solid black;
}

.button:nth-child(4):checked ~ .sliderWindow .sliderBottom .controls label:nth-child(4) .controlLabelButton {
    background-color: #D3D3D3;
    border: 0.2em solid black;
}

.controls label:hover {
    cursor: pointer;
}

.controls label:hover .controlLabelButton {
    transform: scale(120%);
}

.button:nth-child(1):checked ~ .sliderWindow .sliderBottom .controls label:nth-child(1) .controlLabelButton {
    transform: scale(100%);
}

.button:nth-child(2):checked ~ .sliderWindow .sliderBottom .controls label:nth-child(2) .controlLabelButton {
    transform: scale(100%);
}

.button:nth-child(3):checked ~ .sliderWindow .sliderBottom .controls label:nth-child(3) .controlLabelButton {
    transform: scale(100%);
}

.button:nth-child(4):checked ~ .sliderWindow .sliderBottom .controls label:nth-child(4) .controlLabelButton {
    transform: scale(100%);
}

.button:nth-child(1):checked ~ .sliderWindow .sliderBottom .controls label:nth-child(1) {
    cursor: default;
}

.button:nth-child(2):checked ~ .sliderWindow .sliderBottom .controls label:nth-child(2) {
    cursor: default;
}

.button:nth-child(3):checked ~ .sliderWindow .sliderBottom .controls label:nth-child(3) {
    cursor: default;
}

.button:nth-child(4):checked ~ .sliderWindow .sliderBottom .controls label:nth-child(4) {
    cursor: default;
}

.button:nth-child(1):checked ~ .sliderWindow .sliderImages .imageBack {
    transform: translateX(0%);
    background-color: #9b9b9c;
}

.button:nth-child(2):checked ~ .sliderWindow .sliderImages .imageBack {
    transform: translateX(-100%);
    background-color: #cdbfb6;
}

.button:nth-child(3):checked ~ .sliderWindow .sliderImages .imageBack {
    transform: translateX(-200%);
    background-color: #e3ebec;
}

.button:nth-child(4):checked ~ .sliderWindow .sliderImages .imageBack {
    transform: translateX(-300%);
    background-color: #6b8138;
}

.textWrapper {
    display: flex;
    width: 50%;
    height: 4.2rem;
    overflow: hidden;
}

.text {
    display: flex;
    width: 400%;
    color: #D3D3D3;
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    font-family: "Comic Sans MS";
}

.text p {
    width: 100vw;
    transition: 1.5s;
}

.button:nth-child(1):checked ~ .sliderWindow .sliderBottom .textWrapper .text p {
    transform: translate(0%);
}

.button:nth-child(2):checked ~ .sliderWindow .sliderBottom .textWrapper .text p {
    transform: translate(-100%);
}

.button:nth-child(3):checked ~ .sliderWindow .sliderBottom .textWrapper .text p {
    transform: translate(-200%);
}

.button:nth-child(4):checked ~ .sliderWindow .sliderBottom .textWrapper .text p {
    transform: translate(-300%);
}